/vendor
/node_modules
/pruebas
/public/vendor
.env

### Bower ###
bower_components
.bower-cache
.bower-registry
.bower-tmp


### Composer ###
composer.phar

### npm ###
npm-debug.log

### netbeans ###
/nbproject/private/
/nbproject
_ide_helper.php
